= @title= "Error Logs"
= paginate @articles
%table{:id=>"pending-table", :width=>"100%"}
  %tr{:style=>"color:white; background-color:#97BF60;"}
    %th เรื่อง
    %th วันที่
    %th ลบ
	- @articles.each do |article|
    %tr
      %td= link_to article.name, :controller=>"articles", :action=>"show_comments", :id=>article.id
      %td= date_thai article.created_at
      %td(align='center')= link_to image_tag('delete.png', style:'border:none; float:none;'), "#", :onclick=>"if (confirm('กรุณายืนยัน')) {location.hash='/articles/rm/#{article.id}';}"