

<% @articles=Article.all %>
<% @article = Article.find($xvars["p"]["id"]) %> 
<%= debug $xvars['p'] %>




<p>
  <b>Name:</b>
  <%= @article.name %>
</p>

<p>
  <b>Content:</b>
  <%= @article.content %>
</p>


<% if @article.comments.size > 0 %>
  <h2>Comments</h2>
  <% for comment in @article.comments %>
    <h3><%= comment.name %></h3>
    <p><%= comment.content %></p>
  <% end %>
<% end %>
<% 
comment =Comment.new 
%>
<h2>New Comment</h2>
<%= fields_for comment do |f| %>
  <p><%= f.label :name %> <%= f.text_field :name %></p>
  <p><%= f.label :content %><%= f.text_area :content, :rows => 10 %></p>
  dfsdfsdfsdfs     
<%= debug $xvars['p'] %>
<% end %>
