= render :partial => 'coming_soon'
- @articles.each do |article|
  .person(style="width:30%; vertical-align:top")
    %h3(style="margin-bottom:0;")
      = link_to truncate(article.name, :length=>30), :controller =>'mindapp', :action =>'init' ,:s=>'comments:show' , :id => article.id 
      - if article.content
        = link_to_blank image_tag("page.png"), article.content
    .date= date_thai(article.created_at, :time=>true)
    - if article.content
      = link_to_blank image_tag("page.png"), article.content
    .detail= truncate(article.content, :length=>100)